---
import BaseHead from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import GoogleAnalytics from '@components/support/GoogleAnalytics.astro'
import UmamiAnalytics from '@components/support/UmamiAnalytics.astro'
import { SITE } from '@/config'
import '../index.css'

interface Props {
  title: string
  description: string
  ogImage?: any
  lang?: string
  structuredData?: object
}

const {
  title,
  description = SITE.description,
  ogImage,
  lang = 'en',
  structuredData,
} = Astro.props
const normalizeTitle = !title ? SITE.title : `${title} | ${SITE.title}`
---

<html lang={lang} class='scrollbar-hide scroll-pt-16 dark'>
  <head>
    <title>{normalizeTitle}</title>
    <BaseHead
      title={normalizeTitle}
      description={description}
      ogImage={ogImage}
      ogTitle={title === '' ? SITE.title : title}
      ogDescription={description}
      structuredData={structuredData}
    />
    <GoogleAnalytics />
    <UmamiAnalytics />
  </head>
  <body
    class='bg-neutral-200 selection:bg-[#010B1B] selection:text-neutral-700 dark:bg-[#010B1B] overflow-x-hidden font-amstelvar'
  >
    <div class="gradient-overlay">
      <div class='mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8'>
        <Header />
        <main>
          <slot />
        </main>
      </div>
      <Footer />
    </div>

    <style>
     .gradient-overlay {
        background: linear-gradient(135deg, #010B1B, #feb47b);
        min-height: 100vh; /* Ensures the gradient covers the full page */
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
